.header {
  color: black;
  text-align: center;
}

.form {
  width: 80%;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: center;
  background-color: #9e8269;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.input {
  max-width: 80%;
  font-size: 1.25rem;
  margin: 0.5rem;
  padding: 0.25rem 0.25rem;
  color: #403529;
  border: none;
  background-color: transparent;
}

.input::placeholder {
  color: #403529;
}

.input:focus {
  outline-color: black;
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding-right: 1rem;
}

.yourPasswords {
  font-weight: 600;
}

.container {
  display: grid;
  align-content: start;
  justify-items: center;
  place-items: center;
  background: #f0e2c9;
  height: 100vh;
  width: 100vw;
}

.destruction {
  padding-bottom: 1rem;
  font-family: 'Russo One', sans-serif;
  font-size: 1.25rem;
  text-decoration: none;
  color: #f24a43;
  font-weight: bold;
}
