.header {
  color: darkblue;
  text-align: center;
}

.input:focus {
  outline-color: darkblue;
}

.yourPasswords {
  font-weight: 600;
}

.container {
  display: grid;
  align-content: start;
  justify-content: center;
  background: pink;
  height: 100vh;
}

.destruction {
  padding-bottom: 1rem;
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
}
